<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yueguang.mapper.PersonMapper">
    <select id="selectPersonById" parameterType="int" resultMap="personMapper">
        select * from t_person where id=#{id}
    </select>

    <resultMap type="com.yueguang.model.Person" id="personMapper">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="sex" column="sex" />
        <result property="age" column="age" />
        <association property="card" column="card_id" select="com.yueguang.mapper.CardMapper.selectCardById" javaType="com.yueguang.model.Card" />
    </resultMap>
</mapper>